/* THIS FILE CONTAINS THE GLOBAL VARS */

:root {
    /* Footer vars */
    --footer-background-colour: #f5f5f5;

    /* Sidebar vars */
    --sidebar-colour: #1484ac;
    --hover-colour: #aed2bc;
}

.font-link {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Titillium Web', sans-serif;
 }
